body{
  background-color: #cdcdcd !important;
}

h1{
  text-align: center;
  margin-top: 2% !important;
}

.Add-article{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  
  padding: 40px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 20px;


}

.Add-article input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

#title {
  width: 20rem;
}

#body{
  height: 50px;
  width: 25rem;
  max-width: 25rem;
}

.Add-article button{
  background-color: transparent;
  color: black;
  border: 1px solid orange;
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.Add-article button:hover {
  background-color: #50f5e5;
  border: 1px solid #50f5e5;
}

hr{
  width: 50%;
  margin-top: 20px;
}

.Article{
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

h2{
  text-align: center;
  text-transform: capitalize;
}

p{
  padding: 15px;
  padding-top: 5px;
}

.Article button {
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
}

.icon{
  color: #980a0a;
}

.Article button:hover{
  background-color: #fcd3d3;
  border-radius: 50%;
}

.icon:hover{
  color: black;
}